<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fast Print</title>
  </head>
  <body>
    <h1>List of products</h1>
    {% if products %}
    <table border="1">
      <thead>
        <tr>
          <th>Nama Produk</th>
          <th>Harga</th>
          <th>Kategori</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{ product.name }}</td>
          <td>Rp {{ product.price|floatformat:0 }}</td>
          <td>{{ product.category.name }}</td>
          <td>{{ product.status.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Tidak ada produk yang tersedia.</p>
    {% endif %}
  </body>
</html>
